.margin-top-75{ margin-top:75px; }
.margin-top-20{ margin-top:20px; }
.margin-left-10{ margin-left:10px;}

.half-screen{ width: 30vw;}
.mid-height{margin-top:20vh;}
.mat-card{ background-color: #666;}