<div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card fxFlex class="mid-height half-screen"  fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2>Scicrunch API Key</h2>
            <p>
                Access to SciCrunch data is secured via API key. In order to access SPARC ontology data, an API key is required. 
                Please enter a key below, or register <a target="_new" href="https://scicrunch.org/">here</a> and create an API key for free if you do not have one yet.
            </p>
        </div>

        <form>
            <div fxLayout="row" fxLayoutAlign="start center" class="margin-top-20">
                <mat-form-field appearance="outline">
                    <mat-label>SciCrunch API Key</mat-label>
                    <input type="password" matInput placeholder="Ex. SB5jsflPjsQcmf..." [(ngModel)]="scicrunchApiKey" name="apikey" required>
                </mat-form-field>
                <button mat-raised-button color="primary" class="margin-left-10" (click)="setKey()">
                    <mat-icon>lock_open</mat-icon>
                    Let's go!
                </button>
            </div>
        </form>
    </mat-card>
</div>
