<div fxLayout="column" fxLayoutAlign="start start">
    <div class="margin-left-15" fxLayout="row" fxLayoutAlign="center center" class="full-width"><span class="big-text bold">Legend</span></div>
    <div fxLayout="row" fxLayoutAlign="start center" class="margin-left-15 margin-top-5">
        <div class="sparc-box color-box"></div>
        <img width="50px" class="sparc-logo margin-left-5" src="assets/img/sparc-logo.svg">
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="margin-left-15 margin-top-5">
        <div class="hubmap-box color-box"></div>
        <img width="50px" class="hubmap-logo margin-left-5" src="assets/img/hubmap-logo.svg"> 
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="margin-left-15 margin-top-5">
        <div class="shared-box color-box"></div>
        <img width="50px" class="hubmap-logo margin-left-5" src="assets/img/hubmap-logo.svg">
        &
        <img width="50px" class="sparc-logo" src="assets/img/sparc-logo.svg"> 
    </div>
</div>