.sparc-logo{
    background-color:#fff; 
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
}
.hubmap-logo{
    background-color:#000; 
    padding: 12px 5px 12px 5px; 
    border-radius: 5px;
}

.white-text{ color: white;}


/* Table Columns */
.mat-column-name {
    flex: none;
    width: 250px;
    padding: 2px 3px 2px 3px;
}
.mat-column-description {
    flex: none;
    /* width: 350px;*/ 
    padding: 2px 3px 2px 3px;
}
.mat-column-anatomicalStructureId {
    flex: none;
    width: 150px;
    padding: 2px 3px 2px 3px;
}
.mat-column-anatomicalStructureName {
    flex: none;
    width: 250px;
    padding: 2px 3px 2px 3px;
}
.mat-column-dataType {
    flex: none;
    width: 90px;
    padding: 2px 3px 2px 3px;
}
.mat-column-publicationStatus {
    flex: none;
    width: 90px;
    padding: 2px 3px 2px 3px;
}

.mat-row:hover .mat-cell {
    cursor: pointer;
    background-color: rgba(0, 139, 139, 0.7);
}

.mat-row:nth-child(odd){
    background-color: #535353;
}