<div fxLayout="row" fxLayoutAlign="start start" class="fixed-stage-height" fxFlex>
    <table mat-table [dataSource]="asctbCompareService.mergedTableArr" fxFlex> <!-- *ngIf="asctbCompareService.mergedTableArr.length > 0"-->
        <ng-container matColumnDef="id">
            <th class="header-font w-m175" mat-header-cell *matHeaderCellDef> <a (click)="sortByColumn('id')">ID</a> </th>
            <td mat-cell *matCellDef="let organ"> {{getOrganIdReadable(organ.id)}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th class="header-font w-m75" mat-header-cell *matHeaderCellDef> <a (click)="sortByColumn('name')">Name</a> </th>
            <td mat-cell *matCellDef="let organ"> {{organ.name}} </td>
        </ng-container>

        <!-- Label Column -->
        <ng-container matColumnDef="label">
            <th class="header-font w-m75" mat-header-cell *matHeaderCellDef> Label </th>
            <td mat-cell *matCellDef="let organ"> {{organ.label}} </td>
        </ng-container>

        <!-- HuBMAP Column -->
        <ng-container matColumnDef="hubmap">
            <th class="header-font w-m75 center-text" mat-header-cell *matHeaderCellDef>
                <img width="50px" class="hubmap-logo" src="assets/img/hubmap-logo.svg"> 
            </th>
            <td mat-cell *matCellDef="let organ" class="center-text"> 
                <mat-icon class="color-green font-size-32 pointer" *ngIf="organ.hubmapResident" matTooltip="This anatomical structure is present in HuBMAP">check</mat-icon>
                <mat-icon class="color-maroon font-size-32 pointer" *ngIf="!organ.hubmapResident" matTooltip="This anatomical structure is not present in HuBMAP">close</mat-icon>
            </td>
        </ng-container>

        <!-- SPARC Column -->
        <ng-container matColumnDef="sparc">
            <th class="header-font-small w-m75 center-text" mat-header-cell *matHeaderCellDef> 
                <img width="50px" class="sparc-logo" src="assets/img/sparc-logo.svg"> 
            </th>
            <td mat-cell *matCellDef="let organ" class="center-text"> 
                <mat-icon class="color-green font-size-32 pointer" *ngIf="organ.sparcResident" matTooltip="This anatomical structure is present in SPARC">check</mat-icon>
                <mat-icon class="color-maroon font-size-32 pointer" *ngIf="!organ.sparcResident" matTooltip="This anatomical structure is not present in SPARC">close</mat-icon>
            </td>
        </ng-container>

        <!-- sharedCellTypes Column -->
        <ng-container matColumnDef="sharedCellTypes">
            <th class="header-font w-m175 center-text" mat-header-cell *matHeaderCellDef> Shared CT </th>
            <td mat-cell *matCellDef="let organ"> {{organ.sharedCellTypes}} </td>
        </ng-container>

        <!-- sparcCellTypes Column -->
        <ng-container matColumnDef="sparcCellTypes">
            <th class="header-font w-m175 center-text" mat-header-cell *matHeaderCellDef> SPARC CT </th>
            <td mat-cell *matCellDef="let organ"> {{organ.sparcCellTypes}} </td>
        </ng-container>

        <!-- hubmapCellTypes Column -->
        <ng-container matColumnDef="hubmapCellTypes">
            <th class="header-font w-m175 center-text" mat-header-cell *matHeaderCellDef> HuBMAP CT </th>
            <td mat-cell *matCellDef="let organ"> {{organ.hubmapCellTypes}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row [ngClass]="{'background-pink' : row.sparcResident && !row.hubmapResident, 'background-blue' : !row.sparcResident && row.hubmapResident}" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<!--
    id: organ.id,
    name: organ.name,
    label: organ.label,
    sharedCellTypes: null,
    hubmapCellTypes: null,
    sparcCellTypes: null,
    sparcResident: organ.sparcResident,
    hubmapResident: organ.hubmapResident
-->