<div fxLayout="column" fxLayoutAlign="start center" class="sidebar" fxFlex>
    <mat-form-field appearance="outline">
        <mat-label>Organ</mat-label>
        <mat-select [(ngModel)]="asctbCompareService.selectedOrganType" (ngModelChange)="asctbCompareService.loadOrganData()">
            <mat-option *ngFor="let organ of asctbCompareService.organTypes" [value]="organ.id">{{organ.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-selection-list 
        [(ngModel)]="asctbCompareService.selectedViewType" 
        [multiple]="false" 
        class="full-width" fxFlex>


        <mat-divider></mat-divider>
        <mat-list-option value="table" class="md-accent">
            <mat-icon matListIcon>view_list</mat-icon>
            Table view
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option value="tree">
            <mat-icon matListIcon>account_tree</mat-icon>
            Tree view
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option value="graph">
            <mat-icon matListIcon>scatter_plot</mat-icon>
            Graph view
            <!--<mat-icon matListIcon>chevron_right</mat-icon>-->
        </mat-list-option>
        <mat-divider></mat-divider>
    </mat-selection-list>
</div>


