<div>
    <mat-toolbar>
        <span>HuBMAP & SPARC Linkages</span>

        <div>
            <button mat-raised-button class="margin-left-100" [ngClass]="{'selected': router.url === '/asctb-compare' || router.url === '/'}" routerLink="asctb-compare">
                <mat-icon>collections_bookmark</mat-icon>
                Ontology Comparison
            </button>
            <button mat-raised-button class="margin-left-15" [ngClass]="{'selected': router.url === '/dataset-linkage'}" routerLink="dataset-linkage">
                <mat-icon>table_view</mat-icon>
                Dataset Comparison
            </button>
            <a mat-raised-button class="margin-left-15" href="assets/ccf-eui.html" rel="noreferrer noopener" target="_blank"
              matTooltip="View HuBMAP &amp; SPARC Datasets in the HuBMAP CCF Exploration User Interface (EUI)">
                <mat-icon>preview</mat-icon>
                View Datasets
            </a>
            <button mat-raised-button class="margin-left-15" [ngClass]="{'selected': router.url === '/asctb-generate'}" routerLink="asctb-generate"
              matTooltip="Export SPARC Ontologies to the ASCT+B Reporter CSV format">
                <mat-icon>file_download</mat-icon>
                Export SPARC Ontologies
            </button>
        </div>

        <span fxFlex></span>

        <a mat-mini-fab aria-label="GitHub repository and documentation" matTooltip="GitHub repository and documentation" href="https://github.com/SPARC-FAIR-Codeathon/hubmap-link">
            <mat-icon>info_outline</mat-icon>
        </a>
    </mat-toolbar>
</div>
