<div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card fxFlex class="mid-height half-screen"  fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2>ASCT+B File Export</h2>
            <p>
                HuBMAP Anatomical Structures, Cell Types, and Biomarkers (ASCT+B) tables express the hierarchy of the anatomical human body structures, resident cell types, and identification biomarkers.
                This module facilitates exporting SPARC partonomy data into the interoperable ASCT+B format which is compatible with HuBMAP consortium infrastructure, such as the <a target="_new" href="https://hubmapconsortium.github.io/ccf-asct-reporter/">ASCT+B Reporter</a>.
            </p>
        </div>

        <form>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox [(ngModel)]="selections.chooseFromList" name="chooseFromList">Choose organ from list</mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" *ngIf="!selections.chooseFromList">
                    <mat-label>Sparc Organ Identifier</mat-label>
                    <input matInput placeholder="Ex. UBERON:0000948" [(ngModel)]="selections.inputOrganIdentifier" name="inputOrganIdentifier" (change)="generateUrl()" required>
                </mat-form-field>

                <mat-form-field appearance="fill" appearance="outline" class="margin-top-10" *ngIf="selections.chooseFromList">
                    <mat-label>Select an organ</mat-label>
                    <mat-select [(ngModel)]="selections.selectedOrgan" name="selectOrgan" (selectionChange)="generateUrl()" required>
                        <mat-option *ngFor="let organType of asctbCompareService.organTypes" [value]="organType">
                            {{organType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" class="margin-left-10" (click)="exportClick()">
                    <mat-icon>cloud_download</mat-icon>
                    Export
                </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" *ngIf="selections.fileUrl" fxFlex>
                    <mat-label>Hosted URL</mat-label>
                    <input matInput [(ngModel)]="selections.fileUrl" name="fileUrl" disabled>
                    <button matSuffix mat-icon-button aria-label="Copy" matTooltip="Copy the ASCT+B CSV URL to your clipboard" (click)="urlCopyClick()">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>
    </mat-card>
</div>
