.margin-top-75{ margin-top:75px; }
.margin-top-10{ margin-top:10px; }
.margin-left-10{ margin-left:10px;}

.half-screen{ width: 50vw;}
.mid-height{margin-top:10vh;}
.mat-card{ background-color: #666;}
